@model NhaHangBuffetPBL3.Models.Ingredient

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bạn có chắc chắn muốn xóa @Html.DisplayFor(model=>model.Ingredient_name)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên nguyên liệu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient_name)
        </dd>
        <dt class = "col-sm-2">
            Số lượng dự trữ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stored_quantity)
        </dd>
        <dt class = "col-sm-2">
            Số lượng đặt hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_quantity)
        </dd>
        <dt class = "col-sm-2">
            Đơn vị
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Ingredient_id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
